[submodule "repos/stretch_firmware"]
	path = repos/stretch_firmware
	url = https://github.com/hello-robot/stretch_firmware
[submodule "repos/stretch_body"]
	path = repos/stretch_body
	url = https://github.com/hello-robot/stretch_body
[submodule "repos/stretch_ros"]
	path = repos/stretch_ros
	url = https://github.com/hello-robot/stretch_ros
